<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930196183900-mgjrf824i4srqi6lp81vd0r1092nd1lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930196183900-mgjrf824i4srqi6lp81vd0r1092nd1lr</string>
	<key>API_KEY</key>
	<string>AIzaSyDQf0CLnynpJFV7VEna-3-k712AR9uFRek</string>
	<key>GCM_SENDER_ID</key>
	<string>930196183900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zoya.me.FirebaseEmailSignin</string>
	<key>PROJECT_ID</key>
	<string>fir-emailsignin-4319d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-emailsignin-4319d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930196183900:ios:b262221de5f0ec2ea6ff99</string>
</dict>
</plist>